<html>
<head>
    <!-- 'title' is the data that is passed from the index.js during the response.render function call -->
    <title><%= title %></title>

    <link rel="shortcut icon" type="image/PNG" href="chairlogo2.PNG" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link rel="stylesheet" href="navbar.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossor
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <style>
            #price::before{
            content: "$";
            }

            .container .clearfix{
            display:block;
            padding: 10px;
            margin: 10px;
            border-top: 3px solid lightgrey;
            border-bottom: 3px solid lightgrey;
            font-size:18px;
            font-weight:bold;
            }

            h2{
                margin: 10px;
            padding: 10px;
            }
          .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 75;
            left: 0;
            background-color: grey;
            overflow-x: hidden;
        }

        .sidenav a {
            padding: 6px 6px 6px 10px;
            text-decoration: none;
            font-size: 25px;
            color: black;
            display: block;
            border:2px; 
            border-style:solid; 
            border-color:#A9A9A9; 

        }

            color: black;
        }

        #test{
            margin-bottom: 0px; /* Same as the width of the sidenav */
        }

        .fakeimg 
            {
              height: 300px;
              background: #aaa;
              margin-bottom: 10px;
            }
          .main
          {
            margin-left: 210px;
          }
    </style>
	<script> 
	$(function(){
	  $("#header").load("../views/header.ejs"); 
	});
	</script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" id = "test">
  <!-- Logo/Home Button -->
  <a href="/" class="navbar-brand">
    <img class="img-responsive" src="https://i.imgur.com/LrvbS6Q.png" alt="The Stockpile Logo - Go to Home" height="50">
  </a>
  <!-- Toggle Button, shows up when the screen goes smaller than the expand size -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible NavBar -->
  <div class="collapse navbar-collapse" id="mainNavbar">
    <!-- ml-auto pushes the navigation information to the right hand side -->
    <ul class="navbar-nav ml-auto">
      <!-- Contact Us Button -->
      <!-- User Account -->
      <li class="nav-item">
        <!-- If screen is medium or larger, display below -->
        <a href="/" class="nav-link d-none d-md-block">
          <i class="fas fa-user-alt"></i>
        </a>
        <!-- Else if screen is small or x-small, display below -->
        <a class="nav-link d-md-none" href="/">
          <i class="fas fa-user-alt"></i> Account
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="sidenav">
  <a href="/storeItems/reStockList">Restock Items</a>
  <a href="/storeItems/addItem">Add Products</a>
  <a href="/storeUser">List of Users</a>
  <a href="/storeItems">List of Items</a>
</div>
<h1 class = "main"><%= title %></h1>
</body>
</html>