<div id = "company_statement">
    <p align="center">
        Here at The Stockpile, our customers always come first. We know that quality
        matters to your family and we strive daily to meet your high expectations.
        Let's face it, you deserve it. Our master craftsmen have decades of knowledge and
        experience to ensure you get the best quality furniture available. We partner
        with the most reputable vendors in order to find our fine lumber. These partnerships
        allow for us to provide you with unique woods and materials from all over the
        world. From the quality materials to the care we put in to our work, we provide you
        with something we care about. Our passion is making your house feel like a home.
    </p>
</div>
