
</div>
<footer>
  <div id="footer_container" class="w3-display-container" style="height:75px;">
    <div class="w3-display-middle">
      <p id="footer_statement">The vision for The Stockpile to provide users with a sleek, modern shopping experience to buy beautiful pre-assembled furniture that will last for a lifetime.</p>
    </div>
    <div class="w3-display-left" style="background-color: #343a40">
      <img id="footer_logo" src="https://i.imgur.com/LrvbS6Q.png" alt="The Stockpile Logo - Go to Home">
    </div>
    <div class="w3-display-bottomleft" style="background-color: #343a40">
      <h4 id="footer_team">TARMAC</h4>
    </div>
  </div>
</footer>
</div>
