<html>
<head>
    <%- include ./layouts/productheader.ejs %>
    <meta http-equiv="refresh" content="5; URL='/" />
</head>
<body>
<%- include ./layouts/footer_top.ejs %>
<!--Including Header and NavBar Partial-->
<%- include ./layouts/navbar.ejs %>
</nav>
	<br>
    <h1>Thank you for your order! You will be redirected to the homepage shortly.</h1>
<%- include ./layouts/footer_bot.ejs %>    
</body>

</html>
