<!-- Related Products -->
<div class="col-2 side-bar">
  <ul class="list-group list-group-flush">
    <!-- Header -->
    <li class="list-group-item">Related Products</li>
    <!-- Products -->
    <div class="list-group-item with-image">
      <a href="#" class="related-product-text">LIDHULT</a>
      <img class="related-products-image" src="https://www.ikea.com/us/en/images/products/lidhult-sectional-seat-black__0620223_PE689534_S4.JPG" alt="" width="100">
    </div>
    <div class="list-group-item with-image">
      <a href="#" class="related-product-text">GENEVAD</a>
      <img class="related-products-image" src="https://www.ikea.com/PIAimages/0661559_PE711544_S3.JPG" alt="" width="100">
    </div>
    <div class="list-group-item with-image">
      <a href="#" class="related-product-text">VALLENTUNA</a>
      <img class="related-products-image" src="https://www.ikea.com/PIAimages/0624203_PE691735_S3.JPG" alt="" width="100">
    </div>
    <div class="list-group-item with-image">
      <a href="#" class="related-product-text">LANDSKRONA</a>
      <img class="related-products-image" src="https://www.ikea.com/PIAimages/0602354_PE680288_S3.JPG" alt="" width="100">
    </div>
    <div class="list-group-item with-image">
      <a href="#" class="related-product-text">EKTORP</a>
      <img class="related-products-image" src="https://www.ikea.com/PIAimages/0619738_PE689282_S3.JPG" alt="" width="100">
    </div>
    <div class="list-group-item with-image">
      <a href="#" class="related-product-text">TIDAFORS</a>
      <img class="related-products-image" src="https://www.ikea.com/PIAimages/0240019_PE379605_S3.JPG" alt="" width="100">
    </div>
  </ul>
</div>
