
.image-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 150px;
}

.with-image {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 150px;
  display: table;
}

.related-products-image {
  float: right;
  height: 85%;
}

.related-product-text {
  font-family: sans-serif;
  font: "Helvetica Neue";
  display: table-cell;
  vertical-align: middle;
}

.carousel-inner img {
  margin: auto;
}

#slides {
  color: grey;
  background-color: grey !important;
}

.carousel {
  color: grey;
  background-color: grey !important;
}

.carousel-item {
  color: grey;
  background-color: grey;
}

#product-name,
#product-price {
  margin: 25px;
  font-size: 24px;
  border: 2px solid #000000;
  border-radius: 15px;
  text-align: center;
}

#checkout-button {
  margin: 10px;
  float: right;
}

.product-info-row {
  border-top: 2px solid #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
