<html>

<head>
  <%- include ./layouts/header.ejs %>
  <link rel="stylesheet" href="/views/styles/related_products.css">
  <link rel="stylesheet" href="/views/styles/product_info.css">
  <link rel="stylesheet" href="/views/styles/product.css">
  <script type = "text/javascript" src="/scripts/product.js"></script>
  <style>
    #price::before{
	    content: "$";
    }

    .container .clearfix{
	    display:block;
	    padding: 10px;
	    margin: 10px;
	    border-top: 3px solid lightgrey;
	    border-bottom: 3px solid lightgrey;
	    font-size:18px;
	    font-weight:bold;
    }

    h2{
        margin: 10px;
	      padding: 10px;
    }
    #tableimg{
      text-align: center;
    }
    #quat, #price, #tName{
      vertical-align: middle;
    }
  </style>
</head>

<body  onload="loadEvent()">
  <%- include ./layouts/navbar.ejs %>
  <br><br>



    <div class="container">
        <div id="showifempty" style="text-align:center;">
            <h3>Your cart is empty go shopping<h3>
        </div>
        <h2>My Cart</h2>
        <table id="cartTable" class="table">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
        </table>
        <div id="hideIfEmpty">
            <div class="clearfix">
                <p id="subtotal"></p>
                <p id="delivery"></p>
                <p id="total"></p>
                <a id="checkOutButton" href="checkOutPage.html" class="btn btn-outline-success" role="button">Check Out</a>
            </div>
        </div>
    </div>

    <script>
        function clearCart() {
            var cartstr = "{\"items\":[]}";
            localStorage.setItem('keyCartArray', cartstr);
            var table_body = document.querySelector('tbody');
            while (table_body.firstChild) {
                var node = table_body.firstChild;
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
                node.parentNode.removeChild(node);
            }
            loadEvent();
        }


        function cartEmpty() {
            if (localStorage.getItem('keyCartArray') == null || localStorage.getItem('keyCartArray') == "{\"items\":[]}") {
                return 1;
            }
            return 0;
        }

        function loadEvent() {
            loadCart();
            displaySum();
        }

        function displaySum() {
            if (cartEmpty() == 0) {
                var s = sum();
                var t = del(s);
                var total = s + Number(t);

                s = s.toFixed(2);
                t = t.toFixed(2);
                total = total.toFixed(2);

                document.getElementById('subtotal').innerHTML = "Subtotal: $" + String(s);
                document.getElementById('delivery').innerHTML = "Delivery: $" + String(t);
                document.getElementById('total').innerHTML = "Total: $" + String(total);
            } else {
                var div_hide = document.querySelector('#hideIfEmpty');
                div_hide.setAttribute('class', "invisible");
            }
        }


        function sum() {
            var total = 0;
            /**var myTab = document.getElementById('cartTable');
            for (i = 1; i < myTab.rows.length; i++) {
                var objCells = myTab.rows[i].cells
                total += Number(objCells.item(0).innerHTML) * Number(objCells.item(3).innerHTML)
            }**/
            var str = localStorage.getItem('keyCartArray');
            var json_cart = JSON.parse(str);
            for (i in json_cart.items) {
              total += json_cart.items[i].vals[2] * json_cart.items[i].vals[3];
            }

            return Number(total);
        }

        function del(num) {
            return (.0728 * num);
        }

        function loadCart() {
            if (cartEmpty() == 1) {
                var div_show = document.querySelector('#showifempty');
                div_show.setAttribute('class', "visible");
                return;
            }
            var div_show = document.querySelector('#showifempty');
            div_show.setAttribute('class', "invisible");

            var str = localStorage.getItem('keyCartArray');
            var json_cart = JSON.parse(str);
            console.log(json_cart);

            for (i in json_cart.items) {
                var th_quat = document.createElement('th');
                th_quat.setAttribute("id", "quat");
                th_quat.appendChild(document.createTextNode(json_cart.items[i].vals[3]));

                var th_img = document.createElement('th');
                th_img.setAttribute('id', "tableimg");
                var imgInner = document.createElement('img');
                imgInner.setAttribute('src', json_cart.items[i].vals[0]);
                imgInner.setAttribute('alt', "");
                imgInner.setAttribute('style', "width:auto; height:100px;");
                th_img.appendChild(imgInner);

                var th_name = document.createElement('th');
                th_name.setAttribute("id", "tName");
                th_name.appendChild(document.createTextNode(json_cart.items[i].vals[1]));

                var th_price = document.createElement('th');
                th_price.setAttribute("id", "price");
                th_price.appendChild(document.createTextNode(json_cart.items[i].vals[2]));

                var row = document.createElement('tr');
                row.appendChild(th_quat);
                row.appendChild(th_img);
                row.appendChild(th_name);
                row.appendChild(th_price);

                var table_body = document.querySelector('tbody');
                var last_row = table_body.lastChild;

                table_body.insertBefore(row, last_row);
            }
        }
    </script>


</body>

</html>
